{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block pagestyle %}<link rel="stylesheet" href="{{ asset('css/order.css') }}">{% endblock %}

{% block title %}Order{% endblock %}

{% block content %}
    <div class="order">
        <img src="{{ asset('img/flower.jpg') }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}